body{

    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{

    font-size: 50px;

}
.orange{

    color: rgb(184, 200, 36);
}
section{
    display: flex;
    margin-bottom: 150px;

    
}
.half-width{

    width: 50%;
    padding-left: 8% ;
}
.half-width img{
    width: 65%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(blue, red );
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight:700;

}
.banner{

        background-image: url(top-banner.png);
        background-repeat: no-repeat;

}
.dream{
        
     background-image: url(dream-bg.png);
     background-repeat: no-repeat;
     background-position: right;

}